* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corprimaria: #313715;
  --corsecundaria: #d6f49d;
  --corterciaria: #ead637;
  --corquartenaria: #cba328;
  --corquinta: #a2d3c2;
  --preto: #171717;
  --branco: #f9f9f9;
}

body {
  background: var(--corsecundaria);
  color: var(--preto);
  font-family: sans-serif;
  display: grid;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  color: var(--corsecundaria);
  font-size: 2rem;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-self: center;
  color: var(--corquartenaria);
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 600;
}

h3 {
  color: var(--corsecundaria);
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

section {
  width: 90%;
  margin: 2rem auto;
}

figcaption {
  color: var(--corsecundaria);
}

header {
  background: var(--corprimaria);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  margin-bottom: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  color: var(--corsecundaria);
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover {
  color: var(--corquartenaria);
  text-decoration: underline;
}

#about article {
  background-color: var(--corprimaria);
  padding: 1.5rem 2rem;
  border-radius: 5cap;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#about p {
  color: var(--corsecundaria);
}

#about img {
  flex-shrink: 0;
}

#perfil {
  width: 200px;
  border-radius: 50%;
}

.descricao h3 {
  margin-bottom: 1rem;
}

.descricao {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.descricao a {
  margin-top: 0.5rem;
}

.cardProjeto article {
  background-color: var(--corprimaria);
  padding: 1.5rem 2rem;
  border-radius: 5cap;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cardProjeto p {
  color: var(--corsecundaria);
}

.cardProjeto img {
  height: 270px;
  flex-shrink: 0;
  border-radius: 4cap;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.cardProjeto {
  justify-items: center;
}
#about p {
  flex: 1;
}

#video figure {
  display: flex;
  justify-content: center;
}

.frame_video {
  width: 75vw;
  aspect-ratio: 16/9;
  border-radius: 5cap;
}

footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--branco);
  background-color: var(--corprimaria);
  font-weight: bold;
  text-align: center;
}

footer section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

footer img {
  width: 2rem;
  height: 2rem;
  display: block;
  filter: invert(100%);
  transition: filter 0.3;
}

footer img:hover {
  filter: brightness(0) saturate(100%) invert(87%) sepia(25%) saturate(845%)
    hue-rotate(40deg) brightness(103%) contrast(95%);
}

.main_contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90%;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

form input,
textarea {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 5rem;
}

form button {
  background: var(--corprimaria);
  color: var(--corsecundaria);
  padding: 0.75rem;
  border: 1px solid var(--corquartenaria);
  border-radius: 0.75rem;
  font-weight: 700;
  cursor: pointer;
}

form button:hover {
  background: var(--corquartenaria);
}

form span {
  color: #ff0000;
  font-size: 0.75rem;
}

.article_mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--corquartenaria);
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.article_mapa address {
  width: 75%;
}

.article_mapa address p {
  font-weight: 600;
}

.article_mapa iframe {
  align-self: center;
}

/* menu hamburbger */

#menu-toggle {
  display: none;
}

/* Ícone do menu */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 21px;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 2000;
}

.menu-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--corsecundaria);
  border-radius: 2px;
  transition: 0.3s;
}
/* modo mobile */

@media (max-width: 932px) {
  #about article {
    display: grid;
    justify-items: center;
  }

  .cardProjeto img {
    width: 80vw;
    height: 25vh;
    flex-shrink: 0;
    border-radius: 1cap;
    margin-bottom: 0;
    padding-bottom: 0;
    aspect-ratio: 16 / 9;
  object-fit: cover;
  }

  /* page contato */

  .main_contato {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
  }

  .article_mapa iframe {
    align-self: center;
    width: 80vw;
  }

  .descricao h3 {
    margin-bottom: 0rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 819px) {
  /* Mostra o ícone e esconde o menu */
  .menu-icon {
    display: flex;
  }

  nav ul {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--corprimaria);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
  }

  /* Exibe o menu quando o checkbox está marcado */
  #menu-toggle:checked + .menu-icon + nav ul {
    display: flex;
  }

  /* Animação do ícone */
  #menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  #menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }

  nav a {
    font-size: 1.3rem;
  }
}
